html, body {
  height: 100%;
  width: 100%;
}

h1{
  color:orange;
}

h2{
  color:purple;
border-bottom:solid;
}

a{
  text-decoration: none;
}

a:hover{
  color:red
}

body{

  background-color: greenyellow;
  padding-left: 15px ;
  padding-right: 15px ;
}

#info{
line-height: 1.5em;
  
}